# Ignore environment variables
.env

# Ignore Ansible secrets/vars if needed
gke-vars.yml

#k8s
config-maps.yaml

# Ignore Terraform state files and cache
**/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform.tfvars
.terraform.lock.hcl
# Ignore node_modules if frontend/backend use them locally
frontend/node_modules/
backend/node_modules/

node_modules/
config.env
config.env

# google cloud file
google-cloud-sdk*

# Ignore Docker-related cache
.dockerignore

**/mongo-secrets.yaml
**/docker-compose.yaml

mern/terraform/terraform.tfstate*
